rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{username} {
      allow read, write: if true;
      
      match /transactions/{transactionId} {
        allow read, write: if true;
      }
      match /wallets/{walletId} {
        allow read, write: if true;
      }
      match /debts/{debtId} {
        allow read, write: if true;
      }
      match /debt_payments/{paymentId} {
        allow read, write: if true;
      }
    }
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
    match /wallets/{walletId} {
      allow read, write: if true;
    }
    match /debts/{debtId} {
      allow read, write: if true;
    }
    match /debt_payments/{paymentId} {
      allow read, write: if true;
    }
  }
}
